
<div style="margin-bottom: 20px;">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input formControlName="username" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input formControlName="password" nz-input type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <nz-select
            style="min-width: 200px;"
            [(ngModel)]="selectedRoles"
            [ngModelOptions]="{standalone: true}"
            [nzSize]="size"
            nzMode="multiple"
            nzPlaceHolder="Roles">
            <nz-option *ngFor="let option of roles" [nzLabel]="option.name" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Create New User</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
</div>

<nz-table #filterTable
          [nzData]="displayUsers"
          [nzShowPagination]="false">
  <thead>
  <tr>
    <th style="width: 50%">Id</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.username }}</td>
  </tr>
  </tbody>
</nz-table>
